<div class="food-items-wrapper">
  <div class="food-categories" *ngFor="let category  of foodCategories" [class.selected]="category === selectedCategory"
       (click)="onSelect(category)">
    <div [style]="categoryNameColor">{{category.name}}</div>
    <img src="assets/{{category.src}}">
    <ng-container *ngIf="category === selectedCategory">
      <div class="category-units">
        <!--Fruits-->
        <form  [formGroup]="foodUnitsForm" (ngSubmit)="onSubmit()">
          <div class="fruits" *ngIf="category.id === 1">
            <label for="fruits-category">Select fruits</label>
            <ul>
              <li *ngFor="let fruit of getCategoryUnits('fruits')" [value]="fruit"><input type="checkbox">{{fruit.name}}</li>
            </ul>
          </div>
          <!--Vegetables-->
          <div class="vegetables" *ngIf="category.id === 2">
            <label for="vegetables-category">Select vegetable</label>
            <ul>
              <li *ngFor="let vegetable of getCategoryUnits('vegetables')" [value]="vegetable"><input type="checkbox">{{vegetable.name}}</li>
            </ul>
          </div>
          <!--Vegan-food-->
          <div class="vegan-food" *ngIf="category.id === 3">
            <label for="vegan-food-category">Select food</label>
            <ul>
              <li *ngFor="let food of getCategoryUnits('veganFood')" [value]="food"><input type="checkbox">{{food.name}}</li>
            </ul>
          </div>
          <!--Drinks-->
          <div class="drinks" *ngIf="category.id === 4">
            <label for="drinks-category">Select drink</label>
            <ul>
              <li *ngFor="let drink of getCategoryUnits('drinks')" [value]="drink"><input type="checkbox">{{drink.name}}</li>
            </ul>
          </div>
          <!--Seeds-->
          <div class="seeds" *ngIf="category.id === 5">
            <label for="seeds-category">Select seeds</label>
            <ul>
              <li *ngFor="let seed of  getCategoryUnits('drinks')" [value]="seed"><input type="checkbox">{{seed.name}}</li>
            </ul>
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </ng-container>
  </div>
</div>
