
<!--<mat-form-field>-->
<!--  <mat-label >Preferred currency</mat-label>-->
<!--  <mat-select [(value)]="selected" multiple>-->
<!--    <mat-option *ngFor="let currency of currencies" [value]="currency.value">{{currency.text}}</mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->
<!--<p>-->
<!--  Selected Value: {{selected}}-->
<!--</p>-->
<div class="body-markup">
  <header class="header">
    <h1>{{title | uppercase}}</h1>
  </header>
  <div class="content-wrapper">
    <div class="main-nav">
      <gos-food-categories></gos-food-categories>
    </div>
  </div>
  <footer></footer>
</div>

